DB_USER=postgres
DB_PASSWORD=password
DB_NAME=learning-management-platform
DB_URL=postgresql://postgres:password@localhost:5432/learning-management-platform
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
ARCJET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SES_FROM_EMAIL=
S3_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
DODOPAYMENTS_API_KEY=
DODOPAYMENTS_WEBHOOK_SECRET=
PPP_50_COUPON_ID=
PPP_40_COUPON_ID=
PPP_30_COUPON_ID=
PPP_20_COUPON_ID=
SERVER_URL=http://localhost:3000
VITE_SERVER_URL=http://localhost:3000
